@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Tenor+Sans&display=swap');

html {
    font-size: 62.5%; 
/* 62.5%=10px / 100%=16px, logo, 1rem é igual a 16px, porém se colocar ele padrão como 62.5% 1rem terá um total de 10px. */
}

.conteudo {
    margin-top: 15rem;
}

body {
    background-color: #fbfbf9;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fbfbf9;
    z-index: 2
}

header a {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
}

header hr {
    margin-top: 1rem;
}

.navbar {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fbfbf9
}

.logo {
    position: absolute;
    left: 6rem;
    color: #212121;
    font-family: 'Tenor Sans', sans-serif;
}
.logo h1 {
    font-size: 5rem;
}

.text {
    display: flex;
    justify-content: center;
}

.navsearch {
    width: 50rem;
    height: 4rem;
    border-radius: 1rem;
    padding-left: 1rem;
}

.header--icons {
    position: relative;
    right: -45rem;
}

.header--icons a {
    color: #000;
}

.header--content ul {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header--content ul a {
    text-decoration: none;
}

.header--content ul li {
    list-style-type: none;
}

.content:hover {
    color: #b65fb6;
}

.icon {
    margin: 2rem;
    font-size: 2rem;
}

.produtos {
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 40rem;
    background-color: #fff;  
    margin-bottom: 5rem;
    border-radius: 1rem;
}

.produtos h3 {
    color: #191919;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
}

.produtos h4 {
    color: #191919;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
    margin-top: 0.5rem;
}


.produtos img {
    width: 25rem;
    height: 25rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn-dest {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.produtos button {
    padding: 1.5rem;
    width: 15rem;
    margin-left: 1rem;
    background-color: #b65fb6;
    border-radius: 1rem;
    color: #fff;
    border-style: none;
    font-size: 1.3rem;
}

.produtos a {
    color: #b65fb6;
}