@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
     font-size: 62.5%; 
/* 62.5%=10px / 100%=16px, logo, 1rem é igual a 16px, porém se colocar ele padrão como 62.5% 1rem terá um total de 10px. */
}

body {
    background-color: #fbfbf9;  
}

/* Header */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fbfbf9;
    z-index: 2
}


header a {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
}

header hr {
    margin-top: 3rem;
}

.navbar {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fbfbf9;
    margin-top: 3rem;
}

.logo {
    color: #212121;
    font-family: 'Tenor Sans', sans-serif;
}
.logo h1{
    font-size: 5rem !important;
}

.logo h2{
    position: relative;
    top: -1rem;
    left: 1rem;
    font-size: 2.5rem !important;
    margin-left: 0.45rem;
}

.navsearch {
    width: 50rem;
    height: 4.5rem;
    border-radius: 1rem;
    padding-left: 1rem;
}

.btn {
    border: 0;
    background: transparent;
    margin-left: -2.8rem;

}

.btn img {
    width: 16px;
    height: 16px;
}

.icon {
    margin: 2rem;
    font-size: 4rem;
}

.header--icons a {
    color: #000;
}

.header--content ul {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content:hover {
    color: #b65fb6;
}

/* Banner */

#banner {
    background-image: url(assets/images/produtos/thumbnail/1614367807_full22x.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 42rem;
    margin-top: 20rem;
}

/* Seção - logo das empresas */

.container-secao {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.secao {
    width: 40rem;
    height: 25rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    border-radius: 2rem;
    background-position: center;
    background-size: cover;
}

.nintendo {
    background-image: url(assets/images/produtos/thumbnail/nintendo_logo.webp);
}

.playstation {
    background-image: url(assets/images/produtos/thumbnail/sony_logo.jpg);
}
.xbox {
    background-image: url(assets/images/produtos/thumbnail/xbox_logo.png);
}

/* Destaques */

.container-destaques {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

main h1 {
    display: flex;
    justify-content: left;
    margin-left: 5rem;
    margin-bottom: 0.5rem;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: #191919;
}

.bar-destaques {
    width: 21.2rem;
    height: 0.5rem;
    background-color: #b65fb6;
    margin-left: 5.3rem;
}

.destaques {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30em;
    height: 50rem;
    background-color: aquamarine;
    margin-bottom: 7rem;
    margin-top: 5rem;
    border-radius: 2rem;
}

.destaques h3 {
    color: #191919;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
}

.destaques h4 {
    color: #191919;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
    margin-top: 2rem;
}


.destaques img {
    width: 25rem;
    height: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.btn-dest {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.destaques button {
    padding: 1rem;
    width: 15rem;
    margin-left: 1rem;
    background-color: #b65fb6;
    border-radius: 1rem;
    color: #fff;
    border-style: none;
}

.destaques a {
    color: #b65fb6;
}

/* Promoções */

.container-promo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

section h1 {
    display: flex;
    justify-content: left;
    margin-left: 5rem;
    margin-bottom: 0.5rem;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: #191919;
}

.bar-promo {
    width: 22.5rem;
    height: 0.5rem;
    background-color: #b65fb6;
    margin-left: 5.3rem;
}

.promo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30em;
    height: 50rem;
    background-color: aquamarine;
    margin-bottom: 7rem;
    margin-top: 5rem;
    border-radius: 2rem;
}

.promo h3 {
    color: #191919;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
}

.promo h4 {
    color: #191919;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
    margin-top: 2rem;
}

.promo h2 {
    color: #5e5e5e;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    margin-left: 1.1rem;
}


.promo img {
    width: 25rem;
    height: 100%;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.promo button {
    padding: 1rem;
    width: 15rem;
    margin-left: 1rem;
    background-color: #b65fb6;
    border-radius: 1rem;
    color: #fff;
    border-style: none;
}

.promo a {
    color: #b65fb6;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20rem;
    background-color: #191919;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: underline;
    font-size: 2rem;
    padding-right: 1.5rem;
}

.footer-logo {
    font-size: 3rem;
    font-family: 'Tenor Sans', sans-serif;
}

.footer-socials i {
    font-size: 4rem;
    margin: 1rem;
}

/* @media - site responsivo */

@media (max-width: 1024px) { 
    #banner {
        width: 1112px;
    } 
    .secao {
        width: 30rem;
        height: 15rem;
        margin-left: 6rem;
    }
    
    main h1 {
        margin-left: 6rem;
    }

    .bar-destaques {
        margin-left: 6.3rem;
    }

    .container-destaques {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .destaques {
        width: 45rem;
        height: 50rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: 6.1rem;
    }

    .destaques img {
        width: 28rem;
    }

    section h1 {
        margin-left: 6rem;
    }

    .bar-promo {
        margin-left: 6.3rem;
    }

    .container-promo {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .promo {
        width: 45rem;
        height: 50rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: 6.1rem;
        margin-bottom: 10rem;
    }

    .promo img {
        width: 28rem;
    }

    footer {
        width: 1112px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .container-secao {
        margin-left: 33%;
    }
    
    .secao {
        padding: 15rem;
    }

    main h1 {
        margin-left: 15rem;
        font-size: 5rem;
    }

    .destaques h3 {
        font-size: 1.8rem;
    }

    .destaques h4 {
        font-size: 2.8rem;
    }

    .bar-destaques {
        margin-left: 15.3rem;
    }

    .container-destaques {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 23rem;
    }

    .destaques {
        width: 55rem;
        height: 55rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .destaques img {
        width:33rem;
    }

    section h1 {
        margin-left: 15rem;
        font-size: 5rem;
    }

    .bar-promo {
        margin-left: 15.3rem;
    }

    .promo h3 {
        font-size: 1.8rem;
    }

    .promo h4 {
        font-size: 2.8rem;
    }

    .promo h2 {
        font-size: 1.8rem;
    }
    

    .container-promo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 23rem;
    }

    .promo {
        width: 55rem;
        height: 55rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .promo img {
        width: 33rem;
    }
}

/* @media screen (min-width: 576px) and (max-width: 767.98) { */
    /* .container-secao { */
/*          */
    /* } */
/*      */
    /* .secao { */
/*          */
/*          */
/*          */
    /* } */
/* } */


