#conteudo {
    position: relative;
    top: 13rem;
}

#imgsEscolher img {
    display: block;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;   
    box-shadow: 2rem 2rem 2rem #ccc;
}

#containerSelecionada {
    width: 46rem;
    height: 46rem;
    box-shadow: 3rem 3rem 3rem #ccc;
}
#containerSelecionada #selecionada {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: 45rem;
}

#prodInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48rem;
    background-color: #b65fb6;
    border: 3px #985098 solid;
    border-radius: 1.5rem;
    box-shadow: 3rem 3rem 2rem #ccc;
    padding: 2rem;
    margin-left: 12rem;
    color: #f6f6f6;
}
#prodInfo #preco{
    align-self: self-end;
    margin: 4rem 0 0.5rem;
    font-size: 3rem;
}
#prodInfo h1{
    font-size: 3rem;
}
#prodInfo p {
    align-self: self-end;
    font-size: 1.5rem;
    margin-bottom: 10rem;
}
#prodInfo button,
#prodInfo i {
    color: #f6f6f6;
    margin: 0 2rem
}
#prodInfo i {
    position: relative;
    top: 1rem;
}
#prodInfo button {
    font-size: 2rem;
    border: solid 2px #f6f6f6;
    padding: 0.7rem 3.5rem;
}

#btn-dest {
    align-self: center;
}

#descricao {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 1rem;
    background-color: white;
    padding: 4rem;
    margin-top: 10rem;
    width: 80rem;
    color: #777;
    box-shadow: 3rem 3rem 2rem #ccc;
}
#descricao p {
    font-size: 1.5rem;
}